<h1>List of photos</h1>

<form action="/insert_photo" method="post">
  <label for="image_box">Image</label>
  <input id="image_box" name="query_image">

  <label for="caption_box">Caption</label>
  <input id="caption_box" name="query_caption">

  <label for="owner_id_box">Owner ID</label>
  <input id="owner_id_box" name="query_owner_id">

  <button>Add photo</button>
</form>

<table border="1">
  <tr style="background-color: #008148">
    <th>
      Image
    </th>
    <th>
      Caption
    </th>
    <th>
      Owner
    </th>
    <th>
      Posted
    </th>
    <th>
    </th>
  </tr>

  <%@list_of_photos.each do |a_post|%>
    <tr>
      <td>
        <img src="<%=a_post.image%>">
      </td>
      <td>
        <%=a_post.caption%>
      </td>
      <td>
        <%=a_post.poster.username%>
      </td>
      <td>
        <%=a_post.created_at%>
      </td>
      <td>
        <a href="/photos/<%=a_post.id%>">Show Details</a>
      </td>
    </tr>
  <%end%>
</table>
